<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">Metrik view - AT Center</ui:define>

        <ui:define name="content">
            <style>
                .tbl1 {
                    width: 100%;
                    border-collapse: collapse;
                }

                .col1, .col2 {
                    padding: 1%;
                }

                .col1 {
                    width: 15%;
                }

                .col2 {
                    width: 35%;
                }
            </style>
            <h:panelGrid columns="1" cellpadding="5">
                <p:panel id="job-instance-pnl"
                         header="GENERAL INFO"
                         style="margin-bottom: 1%; font-size: 1.2em">
                    <table class="tbl1">
                        <tr>
                            <td class="col1">
                                <h:outputLabel value="METRIK NAME:"/>
                            </td>
                            <td class="col2">
                                <h:outputText styleClass="full-width"
                                              value="#{metrikBean.metrik.name}">
                                </h:outputText>
                            </td>
                            <td class="col1">
                            </td>
                            <td class="col2">
                            </td>
                        </tr>
                        <tr>
                            <td class="col1">
                                <h:outputLabel value="METRIK TYPE:"/>
                            </td>
                            <td class="col2">
                                <h:outputText styleClass="full-width"
                                              value="#{metrikBean.metrik.type.label}">
                                </h:outputText>
                            </td>
                            <td class="col1">
                            </td>
                            <td class="col2">
                            </td>
                        </tr>
                        <tr>
                            <td class="col1">
                                <h:outputLabel value="JOB NAME:"/>
                            </td>
                            <td class="col2">
                                <h:outputText styleClass="full-width"
                                              value="#{metrikBean.metrik.jobInstance.job.name}">
                                </h:outputText>
                            </td>
                            <td class="col1">
                            </td>
                            <td class="col2">
                            </td>
                        </tr>
                        <tr>
                            <td class="col1">
                                <h:outputLabel value="SYSTEM:"/>
                            </td>
                            <td class="col2">
                                <h:outputText id="systemName"
                                              styleClass="full-width"
                                              value="#{jobInstanceBean.jobInstance.operationSystem.name}"/>
                                <h:outputText id="space"
                                              styleClass="full-width"
                                              value=" "/>
                                <h:outputText id="systemCapacity"
                                              styleClass="full-width"
                                              value="#{jobInstanceBean.jobInstance.operationSystem.systemCapacity.label}"/>
                            </td>
                            <td class="col1">
                            </td>
                            <td class="col2">
                            </td>
                        </tr>
                    </table>
                </p:panel>

                <p:panel header="DETAILED GRAPHIC OF METRIK" id="metrik-pnl"
                         style="margin-bottom:30px; font-size: 1.2em">
                    <p:lineChart model="#{metrikBean.getLineModel()}" rendered="#{metrikBean.valuesExists()}"/>
                </p:panel>

                <h:panelGrid columns="1" rendered="#{metrikBean.valuesExists()}">
                    <p:dataTable var="metrikValue"
                                 value="#{metrikBean.metricValues}"
                                 rows="12"
                                 paginator="true"
                                 id="metrikValues"
                                 paginationPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="6,12,16"
                                 rowIndexVar="rowIndex"
                                 sortBy="#{metrikValue.timeStamp}">
                        <f:facet name="header">
                            <p:outputPanel>
                                <h:outputText style="text-align: left; font-size: 1.2em" value="METRIK VALUES"/>
                            </p:outputPanel>
                        </f:facet>
                        <p:column headerText="№" style="padding: 0; text-align: center; width:50px">
                            <h:outputText value="#{rowIndex + 1}"/>
                        </p:column>
                        <p:column headerText="VALUE" style="text-align: left">
                            <h:outputText value="#{metrikValue.value}"/>
                        </p:column>
                        <p:column headerText="DATE" style="padding: 0; text-align: center; width:120px">
                            <h:outputText value="#{dateUtil.getOnlyDateFromDate(metrikValue.timeStamp)}"/>
                        </p:column>
                        <p:column headerText="TIME" style="padding: 0; text-align: center; width:120px">
                            <h:outputText value="#{dateUtil.getOnlyTimeFromDate(metrikValue.timeStamp)}"/>
                        </p:column>
                    </p:dataTable>
                </h:panelGrid>
            </h:panelGrid>
        </ui:define>
    </ui:composition>
</h:body>
</html>