<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core">

<h:body rendered="#{not empty request.remoteUser}">
    <hr size="1" color="#c8c8c8"/>
    <h:form>
        <table style="padding-bottom: 40px" cellpadding="0" cellspacing="0" border="0" width="100%" class="footer-table">
            <tr>
                <h:panelGroup rendered="#{not empty request.remoteUser}">
                    <td align="center" height="auto" width="40%">

                        <p:commandLink value="MAIN" action="pretty:index"/>
                        <p:outputLabel value="|"/>

                        <p:commandLink value="PROFILE" action="#{userBean.viewUser()}"/>
                        <p:outputLabel value="|"/>

                        <p:commandLink value="JOBS" action="#{jobBean.list}"/>
                        <p:outputLabel value="|"/>

                        <p:commandLink value="SYSTEMS" action="#{systemBean.list}"/>
                        <p:outputLabel value="|"/>

                        <p:commandLink value="CATEGORIES" action="#{categoryBean.categories()}"/>
                        <p:outputLabel value="|"/>

                        <p:commandLink value="USERS" action="#{adminBean.list()}"
                                       rendered="#{adminBean.hasRole('ADMIN')}"/>
                        <p:outputLabel value="|" rendered="#{adminBean.hasRole('ADMIN')}"/>

                        <p:commandLink value="SETTINGS" action="#{settingsBean.viewSettings()}"
                                       rendered="#{adminBean.hasRole('ADMIN')}"/>
                        <p:outputLabel value="|" rendered="#{adminBean.hasRole('ADMIN')}"/>

                        <p:commandLink value="API" action="pretty:apiDocumentation"/>

                    </td>
                </h:panelGroup>
            </tr>
            <tr>
                <td>
                    <h:outputText value="VOLNENKO.SCHOOL, 2021"/>
                </td>
            </tr>
        </table>
    </h:form>
</h:body>
</html>
