<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:body>
    <h:form>
        <p:toolbar>
            <f:facet name="left">
                <table class="header-table">
                    <tr>
                        <td>
                            <p:commandLink value="AUTOTESTING" styleClass="header-main" action="pretty:index"/>

                            <h:panelGroup rendered="#{not empty request.remoteUser}">
                                <p:commandLink value="JOBS" action="#{jobBean.list()}"/>
                                <p:commandLink value="SYSTEMS" action="#{systemBean.list()}"/>
                                <p:commandLink value="CATEGORIES" action="#{categoryBean.categories()}"/>
                                <p:commandLink value="USERS" action="#{adminBean.list}"
                                               rendered="#{adminBean.hasRole('ADMIN')}"/>
                                <p:commandLink value="SETTINGS" action="#{adminBean.viewSettings}"
                                               rendered="#{adminBean.hasRole('ADMIN')}"/>
                            </h:panelGroup>
                        </td>
                    </tr>
                </table>
            </f:facet>

            <f:facet name="right">
                <table class="header-registry-buttons">
                    <tr>
                        <td>
                            <h:panelGroup rendered="#{not empty request.remoteUser}">
                                <p:commandLink value="PROFILE" action="#{userBean.viewUser()}"/>
                                <p:commandLink value="SIGN OUT" action="pretty:logoutUser"/>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{empty request.remoteUser}">
                                <p:commandLink value="JOIN" action="pretty:registration"/>
                                <p:commandLink value="SIGN IN" action="pretty:loginUser"/>
                            </h:panelGroup>
                        </td>
                    </tr>
                </table>
            </f:facet>
        </p:toolbar>
    </h:form>
</h:body>
</html>
