<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>
        <ui:insert name="title">Default Title</ui:insert>
    </title>
</h:head>

<h:body>
    <h:outputStylesheet name="css/style.css"/>
    <div class="header">
        <ui:insert name="header">
            <ui:include src="../templates/header-template.xhtml"/>
        </ui:insert>
    </div>

    <section class="main-content">
        <div class="content">
            <ui:insert name="content">
                <ui:include src="../templates/content-template.xhtml"/>
            </ui:insert>
        </div>
    </section>

    <div class="footer">
        <ui:insert name="footer">
            <ui:include src="../templates/footer-template.xhtml"/>
        </ui:insert>
    </div>
</h:body>

</html>