<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">Category list - AT Center</ui:define>

        <ui:define name="content">
            <h:form>
                <h1>CATEGORY MANAGEMENT</h1>
                <p:panel header="SEARCH CATEGORY">
                    <table class="table-search" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td class="ui-fluid">
                                <p:inputText placeholder="ENTER SEARCH STRING"
                                             value="#{categoryBean.searchString}"
                                             required="false" requiredMessage="Enter search string"/>
                            </td>
                            <td nowrap="nowrap" align="right">
                                <p:commandButton styleClass="buttons" value="FIND" ajax="false"
                                                 action="#{categoryBean.setCategoryList(categoryBean.search())}"
                                                 update="categories"/>
                                <p:commandButton styleClass="buttons" value="RESET" ajax="false"
                                                 action="#{categoryBean.setCategoryList(categoryBean.resetSearch())}"
                                                 update="categories"/>
                            </td>
                        </tr>
                    </table>
                </p:panel>
            </h:form>

            <h:form id="form">
                <p:dataTable var="category"
                             value="#{categoryBean.list}"
                             rows="10"
                             paginator="true"
                             id="categories"
                             paginationPosition="bottom"
                             paginatorAlwaysVisible="false"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="10,50,100"
                             rowIndexVar="rowIndex"
                             widgetVar="categories"
                             sortBy="#{category.name}">
                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText style="text-align: left; font-size: 1.2em" value="CATEGORY LIST"/>
                        </p:outputPanel>
                    </f:facet>

                    <p:column headerText="№" style="padding: 0; text-align: center; width:50px">
                        <h:outputText value="#{rowIndex + 1}"/>
                    </p:column>

                    <p:column headerText="NAME"
                              style="width:300px; text-align: left"
                              sortBy="#{category.name}">
                        <h:outputText value="#{category.name}"/>
                    </p:column>

                    <p:column headerText="DESCRIPTION"
                              style="text-align: left"
                              sortBy="#{category.description}">
                        <h:outputText value="#{category.description}"/>
                    </p:column>

                    <p:column style="padding: 0; text-align: center; width:50px">
                        <p:commandLink style="color: #333333; font-size: 1.5em" ajax="false"
                                       action="#{categoryBean.viewCategoryProfile(category)}" class="pi pi-eye"/>
                    </p:column>

                    <p:column style="padding: 0; text-align: center; width:50px">
                        <p:commandLink style="color: #333333; font-size: 1.5em" ajax="false"
                                       action="#{categoryBean.viewCategory(category)}" class="pi pi-bars"/>
                    </p:column>

                    <p:column style="padding: 0; text-align: center; width:50px">
                        <p:commandLink style="color: #333333; font-size: 1.5em" ajax="false"
                                       action="#{categoryBean.getEditCategoryPage(category)}" class="pi pi-pencil"/>
                    </p:column>

                    <p:column style="padding: 0; text-align: center; width:50px"
                              rendered="#{userBean.hasRole('ADMIN')}">
                        <p:commandLink style="color: #333333; font-size: 1.5em" action="#{categoryBean.deleteCategory(category)}"
                                       update="categories" class="pi pi-trash">
                            <p:confirm header="Delete category"  message="Delete category: #{category.name}?"
                                       icon="pi pi-exclamation-triangle"/>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            <p:commandButton ajax="false" type="submit" styleClass="buttons" value="CREATE" action="#{categoryBean.getCreateCategoryPage()}"/>
            <!--<p:commandButton value="ADD" action="#{categoryBean.getCreateCategoryPage()}"/>-->
            <!--<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">-->
                <!--<p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>-->
                <!--<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>-->
            <!--</p:confirmDialog>-->
            </h:form>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
            </p:confirmDialog>
        </ui:define>
    </ui:composition>
</h:body>
</html>