<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<f:metadata>
    <f:event type="preRenderView" listener="#{jobBean.updateJobsFor(categoryBean.category.id)}"/>
</f:metadata>

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">Job list - AT Center</ui:define>

        <ui:define name="content">
            <h:form id="form">
                <p:dataTable var="job" value="#{jobBean.list}" id="jobs" rowIndexVar="rowIndex">
                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText style="text-align: left; font-size: 1.2em" value="JOB LIST" />
                        </p:outputPanel>
                    </f:facet>

                    <p:column headerText="№" width="6%" style="padding: 0; text-align: center">
                        <h:outputText value="#{rowIndex + 1}"/>
                    </p:column>
                    <p:column headerText="Name">
                        <h:outputText value="#{job.name}"/>
                    </p:column>
                    <p:column headerText="Add" width="7%" style="text-align: center">
                        <p:commandLink style="color: #333333; font-size: 1.5em" ajax="false"
                                       action="#{categoryBean.addJob(categoryBean.category, job)}" class="pi pi-plus"/>
                    </p:column>
                </p:dataTable>
            </h:form>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
            </p:confirmDialog>
        </ui:define>
    </ui:composition>
</h:body>
</html>