<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">Category view - AT Center</ui:define>

        <ui:define name="content">
            <h1>VIEW CATEGORY</h1>
            <h:form id="form">
                <p:dataTable var="job" value="#{categoryBean.jobsOfCategory()}" rows="12" id="jobs"
                             rowIndexVar="rowIndex">
                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText style="text-align: left; font-size: 1.2em"
                                          value="JOB LIST"/>
                        </p:outputPanel>
                    </f:facet>
                    <p:column headerText="№" style="padding: 0; width:50px; text-align: center">
                        <h:outputText value="#{rowIndex + 1}"/>
                    </p:column>
                    <p:column headerText="CATEGORY">
                        <h:outputText value="#{categoryBean.category.name}"/>
                    </p:column>
                    <p:column headerText="NAME">
                        <h:outputText value="#{job.name}"/>
                    </p:column>
                    <p:column style = "padding: 0; width:50px; text-align: center">
                        <p:commandLink title="View" style="color: #333333; font-size: 1.5em" ajax="false"
                                       class="pi pi-bars" action="#{jobBean.viewJobsByJob(job)}"/>
                    </p:column>
                    <p:column rendered="#{userBean.hasRole('ADMIN')}"
                              style="padding: 0; width:50px; text-align: center">
                        <p:commandLink title="Edit" style="color: #333333; font-size: 1.5em"
                                       class="pi pi-pencil" ajax="false" action="#{jobBean.editJob(job)}"/>
                    </p:column>
                    <p:column rendered="#{userBean.hasRole('ADMIN')}"
                              style="padding: 0; width:50px; text-align: center">
                        <p:commandLink title="Delete" style="color: #333333; font-size: 1.5em"
                                       styleClass="fa fa-trash buttons" action="#{jobBean.deleteJob(job)}" update="jobs"
                                       class="pi pi-trash">
                            <p:confirm header="Delete job" message="Delete job with name: #{job.name}?"
                                       icon="pi pi-exclamation-triangle"/>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </h:form>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-times"/>
            </p:confirmDialog>
            <p:commandButton action="pretty:addCategoryJob" styleClass="buttons" value="ADD"/>
            <p:commandButton action="pretty:categoryList" styleClass="buttons" value="BACK"/>
        </ui:define>
    </ui:composition>
</h:body>
</html>