<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
    <f:viewAction action="#{categoryBean.prepareEditCategoryView()}" />
</f:metadata>

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">Category profile - AT Center</ui:define>

        <ui:define name="content">
            <h1>VIEW CATEGORY INFO</h1>
            <p:panel id="panel" header="CATEGORY VIEW" styleClass="table-info">
                <h:form>
                    <h:panelGrid columns="2" cellpadding="5">

                        <p:outputLabel value="NAME"/>
                        <p:outputLabel value="#{categoryBean.category.name}"/>

                        <p:outputLabel value="DESCRIPTION"/>
                        <p:outputLabel value="#{categoryBean.category.description}"/>

                    </h:panelGrid>
                </h:form>
            </p:panel>

            <p:commandButton action="pretty:categoryList" styleClass="buttons" value="BACK"/>

        </ui:define>
    </ui:composition>
</h:body>
</html>