<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">Category add - AT Center</ui:define>

        <ui:define name="content">
            <p:panel id="panel" header="CREATE NEW CATEGORY" styleClass="label-input-table">
                <h:form>
                    <h:panelGrid columns="3" cellpadding="5">
                        <p:outputLabel for="name" value="CATEGORY NAME"/>
                        <p:inputText id="name" value="#{categoryBean.category.name}" required="true">
                            <f:validateLength minimum="2"/>
                            <p:ajax update="msgName" event="keyup"/>
                        </p:inputText>
                        <p:message for="name" id="msgName"/>

                        <p:outputLabel for="description" value="CATEGORY DESCRIPTION"/>
                        <p:inputText id="description" value="#{categoryBean.category.description}" required="true">
                            <f:validateLength minimum="2"/>
                            <p:ajax update="msgDescription" event="keyup"/>
                        </p:inputText>
                        <p:message for="description" id="msgDescription"/>

                        <h:form>
                            <p:commandButton ajax="false" type="submit" value="SAVE"
                                             action="#{categoryBean.createCategory()}"/>
                            <p:commandButton ajax="false" type="submit" value="CANCEL" action="pretty:categoryList"/>
                        </h:form>
                    </h:panelGrid>
                </h:form>
            </p:panel>
        </ui:define>
    </ui:composition>
</h:body>
</html>