<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:j="http://xmlns.jcp.org/jsf/core">

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">Settings - AT Center</ui:define>

        <ui:define name="content">
            <h1>SETTINGS</h1>
            <h:form>
                <p:panel id="panel" header="SETTINGS" styleClass="label-input-table">

                    <!-- Раскомментировать для отображения сообщений в верхней части формы -->
                    <!--                    <p:messages id="msgs"/>-->

                    <h:panelGrid columns="3" cellpadding="5">



                    </h:panelGrid>
                </p:panel>
                <p:commandButton ajax="false"
                                 type="submit" value="SAVE"
                                 action="#{adminBean.saveSettings}"/>
                <p:commandButton ajax="false" immediate="true"
                                 type="submit" value="CANCEL"
                                 action="pretty:index"/>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>