<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<f:metadata>
    <f:viewAction action="#{adminBean.setList(searchBean.resetSearch())}" />
</f:metadata>

<h:head>
</h:head>
<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">User Management - AT Center</ui:define>

        <ui:define name="content">

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
            </p:confirmDialog>

            <h:form>
                <h1>USER MANAGEMENT</h1>
                <p:panel id="panel" header="SEARCH USER">
                    <table class="table-search" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td width="350" nowrap="nowrap" class="ui-fluid">
                                <p:selectCheckboxMenu value="#{searchBean.selectedFields}"
                                                      label="CHOOSE FIELDS FOR SEARCH" filter="true" required="true"
                                                      requiredMessage="Choose fields for search"
                                                      filterMatchMode="startsWith"
                                                      multiple="true">
                                    <f:selectItems value="#{searchBean.userFieldPrettyName}"/>
                                </p:selectCheckboxMenu>
                            </td>
                            <td nowrap="nowrap" width="20">&#xA0;</td>
                            <td class="ui-fluid">
                                <p:inputText placeholder="ENTER SEARCH STRING"
                                             value="#{searchBean.searchString}"
                                             required="false" requiredMessage="Enter search string"/>
                            </td>
                            <td nowrap="nowrap" align="right">
                                <p:commandButton styleClass="buttons" value="FIND" ajax="false"
                                                 action="#{adminBean.setList(searchBean.searchUserByString())}"
                                                 update="users"/>
                                <p:commandButton styleClass="buttons" value="RESET" ajax="false"
                                                 immediate="true"
                                                 action="#{adminBean.setList(searchBean.resetSearch())}"
                                                 update="users">
                                    <p:resetInput target="panel" />
                                </p:commandButton>
                            </td>
                        </tr>
                    </table>
                </p:panel>
            </h:form>

            <h:form>
                <p:dataTable var="user" value="#{adminBean.list}" rows="10" paginator="true" id="users"
                             paginationPosition="bottom" paginatorAlwaysVisible="false"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks}
                             {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="10,50,100" rowIndexVar="rowIndex" widgetVar="jobsTable"
                             sortBy="#{user.login}">
                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText style="text-align: left; font-size: 1.2em" value="USER LIST"/>
                        </p:outputPanel>
                    </f:facet>

                    <p:column headerText="№" style="padding: 0; text-align: center; width:50px">
                        <h:outputText value="#{rowIndex + 1}"/>
                    </p:column>

                    <p:column headerText="LOGIN"
                              style="text-align: left; width:250px"
                              sortBy="#{user.login}">
                        <h:outputText value="#{user.login}"/>
                    </p:column>

                    <p:column headerText="E-MAIL"
                              style="text-align: left"
                              sortBy="#{user.email}">
                        <h:outputText value="#{user.email}"/>
                    </p:column>

                    <p:column headerText="FIRST NAME"
                              style="text-align: left"
                              sortBy="#{user.firstName}">
                        <h:outputText value="#{user.firstName}"/>
                    </p:column>

                    <p:column headerText="MIDDLE NAME"
                              style="text-align: left"
                              sortBy="#{user.middleName}">
                        <h:outputText value="#{user.middleName}"/>
                    </p:column>

                    <p:column headerText="LAST NAME"
                              style="text-align: left"
                              sortBy="#{user.lastName}">
                        <h:outputText value="#{user.lastName}"/>
                    </p:column>

                    <p:column headerText="ROLES" style="text-align: left; width:150px">
                        <ui:repeat value="#{user.authorities}" var="role">
                            <h:outputText value="#{role.authority} "/>
                        </ui:repeat>
                    </p:column>

                    <p:column style="padding: 0; text-align: center; width:50px">
                        <p:commandLink style="color: #333333; font-size: 1.5em" ajax="false"
                                       action="#{adminBean.viewProfileUser(user)}" class="pi pi-eye"/>
                    </p:column>

                    <p:column style="padding: 0; text-align: center; width:50px">
                        <p:commandLink style="color: #333333; font-size: 1.5em" title="Edit" ajax="false"
                                       action="#{adminBean.editUser(user)}" class="pi pi-pencil"/>
                    </p:column>
                    <p:column style="padding: 0; text-align: center; width:50px">
                        <p:commandLink style="color: #333333; font-size: 1.5em" title="Delete"
                                       action="#{adminBean.deleteUser(user)}" update="users" class="pi pi-trash">
                            <p:confirm header="Delete user" message="Delete user with login: #{user.login}?"
                                       icon="pi pi-exclamation-triangle"/>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </h:form>

            <h:form>
                <p:commandButton ajax="false" type="submit" value="CREATE" action="pretty:addUser"/>
            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>