<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
    <f:viewAction action="#{adminBean.viewEditUser()}" />
</f:metadata>
<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title"> Profile - AT Center</ui:define>

        <ui:define name="content">
            <h1>VIEW PROFILE</h1>
            <p:panel id="profile-pnl" header="PROFILE" styleClass="table-info">
                <h:form prependId="false">
                    <p:messages id="msgs"/>
                    <h:panelGrid columns="3" cellpadding="5" layout="center">
                        <p:outputLabel value="LOGIN"/>
                        <p:outputLabel id="login" value="#{adminBean.userEdit.login}"/>

                        <p:message for="login" id="msgLogin"/>

                        <p:outputLabel value="LAST NAME"/>
                        <p:outputLabel id="lastName" styleClass="full-width" value="#{adminBean.userEdit.lastName}"/>

                        <p:message for="lastName" id="msgLastname"/>

                        <p:outputLabel value="FIRST NAME"/>
                        <p:outputLabel id="firstName" styleClass="full-width" value="#{adminBean.userEdit.firstName}"/>

                        <p:message for="firstName" id="msgFirstname"/>

                        <p:outputLabel for="middleName" value="MIDDLE NAME"/>
                        <p:outputLabel id="middleName" styleClass="full-width" value="#{adminBean.userEdit.middleName}"/>
                        <br/>

                        <p:outputLabel value="E-MAIL"/>
                        <p:outputLabel id="email" styleClass="full-width" value="#{adminBean.userEdit.email}"/>
                        <p:message for="email" id="msgEmail"/>
                    </h:panelGrid>
                </h:form>
            </p:panel>

            <p:commandButton action="pretty:userManagement" styleClass="buttons" value="BACK"/>

        </ui:define>
    </ui:composition>
</h:body>
</html>