<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:j="http://xmlns.jcp.org/jsf/core">

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">User edit - AT Center</ui:define>

        <ui:define name="content">
            <j:metadata>
                <j:viewAction action="#{adminBean.viewEditUser()}"/>
            </j:metadata>
            <h1>EDIT USER</h1>
            <h:form>
                <p:panel id="panel" header="GENERAL INFORMATION" styleClass="label-input-table">

                    <!-- Раскомментировать для отображения сообщений в верхней части формы -->
                    <!--                    <p:messages id="msgs"/>-->

                    <h:panelGrid columns="3" cellpadding="5">
                        <p:outputLabel for="login" value="LOGIN"/>
                        <p:inputText id="login" value="#{adminBean.userEdit.login}" styleClass="full-width"
                                     validator="#{adminBean.validateUserEditLogin}" required="true">
                            <f:validateLength minimum="2"/>
                            <p:ajax update="msgLogin" event="keyup"/>
                        </p:inputText>
                        <p:message for="login" id="msgLogin"/>

                        <p:outputLabel for="email" value="EMAIL"/>
                        <p:inputText id="email" value="#{adminBean.userEdit.email}" styleClass="full-width"
                                     validatorMessage="Invalid email format.">
                            <f:validateRegex
                                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                            <p:ajax update="msgEmail" event="keyup"/>
                        </p:inputText>
                        <p:message for="email" id="msgEmail"/>

                        <p:outputLabel for="lastName" value="LAST NAME"/>
                        <p:inputText id="lastName" styleClass="full-width" value="#{adminBean.userEdit.lastName}"
                                     validatorMessage="Please enter last name.">
                            <f:validateRegex pattern="[^\s\d]{1,}"/>
                            <p:ajax update="msgLastName" event="keyup"/>
                        </p:inputText>
                        <p:message for="lastName" id="msgLastName"/>

                        <p:outputLabel for="firstName" value="FIRST NAME"/>
                        <p:inputText id="firstName" styleClass="full-width" value="#{adminBean.userEdit.firstName}"
                                     validatorMessage="Please enter first name.">
                            <f:validateRegex pattern="[^\s\d]{2,}"/>
                            <p:ajax update="msgFirstName" event="keyup"/>
                        </p:inputText>
                        <p:message for="firstName" id="msgFirstName"/>

                        <p:outputLabel for="middleName" value="MIDDLE NAME"/>
                        <p:inputText id="middleName" styleClass="full-width" value="#{adminBean.userEdit.middleName}"
                                     validatorMessage="Please use the alphabet.">
                            <f:validateRegex pattern="[^\s\d]{2,}"/>
                            <p:ajax update="msgMiddleName" event="keyup"/>
                        </p:inputText>
                        <p:message for="middleName" id="msgMiddleName"/>

                        <p:outputLabel for="roles" value="ROLES"/>
                        <p:selectManyCheckbox id="roles"
                                              value="#{adminBean.selectedRoles}">
                            <f:selectItems value="#{adminBean.roles}"
                                           var="role"
                                           itemLabel="#{role}"
                                           itemValue="#{role}"/>
                        </p:selectManyCheckbox>
                        <p:message for="roles" id="msgRoles"/>

                        <p:outputLabel for="lock" value="LOCK"/>
                        <p:selectBooleanCheckbox id="lock" value="#{adminBean.userEdit.locked}" itemLabel="LOCK"/>
                    </h:panelGrid>
                </p:panel>
                <p:commandButton ajax="false"
                                 type="submit" value="SAVE"
                                 action="#{adminBean.saveUserEdit(adminBean.userEdit)}"/>
                <p:commandButton ajax="false" immediate="true"
                                 type="submit" value="CANCEL"
                                 action="pretty:userManagement"/>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>