<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

<h:body>
    <ui:composition template="../templates/main-template.xhtml">
        <ui:define name="title">Home - AT Center</ui:define>
        <ui:define name="content">
            <div>
                <h:form prependId="false">
                    <p:panel id="index-pnl" header="WELCOME">
                        <h3>Automated Testing System</h3>
                        <p>The automated testing system is designed to perform various kinds and directions of tests.
                            The application allows you to collect statistics on tests, and make a comparative analysis of
                            their performance on different operating systems, on devices with different computing capacities.</p>

                        <br/>
                        <h3>Jobs</h3>
                        <p>
                            Complete list of tests with the ability to view, edit, delete and search. The table shows the
                            names of the tests, based on which you can get information about the purpose of the test.
                            When viewing the test, the following information is displayed:</p>
                            - complete list of launches of this test;
                            <br/>- detailed graphs showing the test with runtime and device boot;
                            <br/>- date of start and end of the test.

                        <br/>
                        <br/>
                        <h3>Systems</h3>
                        <p>
                            Complete list of systems on which tests were run.</p>

                        <br/>
                        <h3>Categories</h3>
                        <p>
                            Complete list of categories for grouping tests.</p>
                        <br/>
                    </p:panel>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>