<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title"> Change password - AT Center</ui:define>

        <ui:define name="content">
            <p:panel id="profile-pnl" header="CHANGE PASSWORD">
                <h:form prependId="false">
                    <p:messages id="msgs"/>
                    <h:panelGrid id="password-panel" columns="3" cellpadding="5" layout="center" class="label-input-table">
                        <p:outputLabel for="currentPassword" value="CURRENT PASSWORD"/>
                        <p:password id="currentPassword" validator="#{userBean.validateCurrentPassword}" required="true"/>
                        <p:message for="currentPassword" id="msgCurrentPassword"/>

                        <p:outputLabel for="password" value="NEW PASSWORD"/>
                        <p:password id="password" value="#{userBean.changedPassword}" match="password-2" required="true"/>
                        <p:message for="password" id="msgPassword"/>

                        <p:outputLabel for="password-2" value="REPEAT NEW PASSWORD"/>
                        <p:password id="password-2" value="#{userBean.changedPassword}" required="true"/>
                        <br/>

                        <h:form>
                            <p:commandButton ajax="false" styleClass="buttons" value="SAVE"
                                             action="#{userBean.changePassword()}"/>
                            <p:commandButton ajax="false" styleClass="buttons white-button" immediate="true" type="submit" value="CANCEL"
                                             action="#{userBean.viewUser()}"/>
                        </h:form>
                    </h:panelGrid>
                </h:form>
            </p:panel>
        </ui:define>
    </ui:composition>
</h:body>
</html>