<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">Sign in - AT Center</ui:define>
        <ui:define name="content">
            <h:form prependId="false">
                <p:messages id="msgs"/>
                <p:panel id="login-pnl" header="SIGN IN">
                    <br/>

                    <table align="center" class="label-input-table">
                        <tr>
                            <td>
                                <div>
                                    <p:outputLabel for="username" value="LOGIN"/>
                                </div>
                                <div>
                                    <p:inputText id="username" styleClass="showcase-text-align-center"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <p:outputLabel for="password" value="PASSWORD"/>
                                </div>
                                <div>
                                    <p:password id="password" styleClass="showcase-text-align-center"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">
                                <p:outputLabel value="Failed. Login or password incorrect."
                                               rendered="${!empty param['error']}" styleClass="warning"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">
                                <p:commandButton styleClass="buttons white-button" type="button"
                                                 onclick="location.href='/registration'" value="JOIN"/>
                                <p:commandButton styleClass="buttons" ajax="false"
                                                 value="SIGN IN"/>
                            </td>
                        </tr>
                    </table>
                    <br/>
                </p:panel>
            </h:form>
        </ui:define>

    </ui:composition>
</h:body>
</html>