<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title"> Profile - AT Center</ui:define>

        <ui:define name="content">
            <p:panel id="profile-pnl" header="PROFILE">
                <h:form prependId="false">
                    <p:messages id="msgs"/>
                    <h:panelGrid columns="3" cellpadding="5" layout="center" class="label-input-table">
                        <p:outputLabel for="login" value="LOGIN"/>
                        <p:inputText id="login" value="#{userBean.user.login}" required="true"
                                     validator="#{userBean.validateLogin}">
                            <f:validateLength minimum="2"/>
                            <p:ajax update="msgLogin" event="keyup"/>
                        </p:inputText>
                        <p:message for="login" id="msgLogin"/>

                        <p:outputLabel for="lastName" value="LAST NAME"/>
                        <p:inputText id="lastName" styleClass="full-width" value="#{userBean.user.lastName}"
                                     required="true">
                            <f:validateLength minimum="2"/>
                            <p:ajax update="msgLastname" event="keyup"/>
                        </p:inputText>
                        <p:message for="lastName" id="msgLastname"/>

                        <p:outputLabel for="firstName" value="FIRST NAME"/>
                        <p:inputText id="firstName" styleClass="full-width" value="#{userBean.user.firstName}"
                                     required="true">
                            <f:validateLength minimum="2"/>
                            <p:ajax update="msgFirstname" event="keyup"/>
                        </p:inputText>
                        <p:message for="firstName" id="msgFirstname"/>

                        <p:outputLabel for="middleName" value="MIDDLE NAME"/>
                        <p:inputText id="middleName" styleClass="full-width" value="#{userBean.user.middleName}"/>
                        <br/>

                        <p:outputLabel for="email" value="E-MAIL"/>
                        <p:inputText id="email" styleClass="full-width" value="#{userBean.user.email}" required="true"
                                     validatorMessage="Invalid email format">
                            <f:validateRegex
                                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                            <p:ajax update="msgEmail" event="keyup"/>
                        </p:inputText>
                        <p:message for="email" id="msgEmail"/>

                        <p:outputLabel for="token" value="TOKEN"/>
                        <p:inputText id="token" styleClass="full-width" value="#{userBean.user.token}"/>
                        <p:commandButton ajax="false" styleClass="buttons white-button generate-button" value="GENERATE"
                                         action="#{userBean.generateToken}" update="token"/>

                        <p:commandLink value="Change password" action="#{userBean.viewUserChangePassword()}"/>
                        <p:message for="changePassword" id="changePassword"/>
                        <br/>

                        <h:form>
                            <p:commandButton ajax="false" styleClass="buttons" value="SAVE"
                                             action="#{userBean.saveUserProfile()}"/>
                            <p:commandButton ajax="false" styleClass="buttons white-button" immediate="true" value="CANCEL"
                                             action="pretty:index"/>
                        </h:form>
                    </h:panelGrid>
                </h:form>
            </p:panel>
        </ui:define>
    </ui:composition>
</h:body>
</html>