<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">Sign up - AT Center</ui:define>

        <ui:define name="content">
            <p:panel id="signup-pnl" header="REGISTRATION">
                <h:form prependId="false">
                    <p:messages id="msgs"/>
                    <h:panelGrid columns="3" cellpadding="5" layout="flex" class="label-input-table">
                        <p:outputLabel for="login" value="LOGIN"/>
                        <p:inputText id="login" value="#{userBean.registryUser.login}" styleClass="full-width"
                                     validator="#{userBean.validateRegistrationLogin}" required="true">
                            <f:validateLength minimum="2"/>
                            <p:ajax update="msgLogin" event="keyup"/>
                        </p:inputText>
                        <p:message for="login" id="msgLogin"/>

                        <p:outputLabel for="lastName" value="LAST NAME"/>
                        <p:inputText id="lastName" value="#{userBean.registryUser.lastName}"
                                     required="true" validatorMessage="Please enter last name.">
                            <f:validateRegex pattern="[^\s\d][^\d]*"/>
                            <p:ajax update="msgLastname" event="keyup"/>
                        </p:inputText>
                        <p:message for="lastName" id="msgLastname"/>

                        <p:outputLabel for="firstName" value="FIRST NAME"/>
                        <p:inputText id="firstName" value="#{userBean.registryUser.firstName}" required="true"
                                     validatorMessage="Please enter first name.">
                            <f:validateRegex pattern="[^\s\d]{2,}"/>
                            <p:ajax update="msgFirstname" event="keyup"/>
                        </p:inputText>
                        <p:message for="firstName" id="msgFirstname"/>

                        <p:outputLabel for="middleName" value="MIDDLE NAME"/>
                        <p:inputText id="middleName" value="#{userBean.registryUser.middleName}"/>
                        <br/>

                        <p:outputLabel for="email" value="E-MAIL"/>
                        <p:inputText id="email" value="#{userBean.registryUser.email}" required="true"
                                     validatorMessage="Invalid email format">
                            <f:validateRegex
                                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                            <p:ajax update="msgEmail" event="keyup"/>
                        </p:inputText>
                        <p:message for="email" id="msgEmail"/>

                        <p:outputLabel for="password" value="PASSWORD"/>
                        <p:password id="password" value="#{userBean.registryUser.password}" match="password-2"
                                    required="true">
                            <f:validateRegex pattern=".{3,8}"/>
                            <p:ajax update="msgPassword" event="keyup"/>
                        </p:password>
                        <p:message for="password" id="msgPassword"/>

                        <p:outputLabel for="password-2" value="CONFIRM PASSWORD"/>
                        <p:password id="password-2" value="#{userBean.registryUser.password}" required="true">
                            <f:validateRegex pattern=".{3,8}"/>
                            <p:ajax update="msgPassword-2" event="keyup"/>
                        </p:password>
                        <p:message for="password" id="msgPassword-2"/>

                        <h:form>
                            <p:commandButton ajax="false" value="REGISTER" styleClass="buttons"
                                             action="#{userBean.createUser()}"/>
                            <p:commandButton ajax="false" type="submit" value="CANCEL"
                                             styleClass="buttons white-button" immediate="true"
                                             actionListener="#{userBean.resetRegistryUser}" action="pretty:index"/>
                </h:form>
                    </h:panelGrid>
                </h:form>
            </p:panel>
        </ui:define>
    </ui:composition>
</h:body>
</html>