<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">System list - AT Center</ui:define>

        <ui:define name="content">
            <h:form>
                <h1>SYSTEM MANAGEMENT</h1>
                <p:panel header="SEARCH SYSTEM">
                    <table class="table-search" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td class="ui-fluid">
                                <p:inputText placeholder="ENTER SEARCH STRING"
                                             value="#{systemBean.searchString}"
                                             required="false" requiredMessage="Enter search string"/>
                            </td>
                            <td nowrap="nowrap" align="right">
                                <p:commandButton styleClass="buttons" value="FIND" ajax="false"
                                                 action="#{systemBean.setSystemList(systemBean.search())}"
                                                 update="operationsystems"/>
                                <p:commandButton styleClass="buttons" value="RESET" ajax="false"
                                                 action="#{systemBean.setSystemList(systemBean.resetSearch())}"
                                                 update="operationsystems"/>
                            </td>
                        </tr>
                    </table>
                </p:panel>
            </h:form>
            <h:form id="form">
                <p:dataTable var="operationSystem"
                             value="#{systemBean.list}"
                             rows="10"
                             paginator="true"
                             id="operationsystems"
                             paginationPosition="bottom"
                             paginatorAlwaysVisible="false"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="10,50,100"
                             rowIndexVar="rowIndex"
                             widgetVar="systemsTable"
                             sortBy="#{operationSystem.name}">
                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText style="text-align: left; font-size: 1.2em" value="SYSTEM LIST"/>
                        </p:outputPanel>
                    </f:facet>

                    <p:column headerText="№" style="padding: 0; text-align: center; width:50px">
                        <h:outputText value="#{rowIndex + 1}"/>
                    </p:column>

                    <p:column
                            headerText="NAME"
                            style="width:300px; text-align: left"
                            sortBy="#{operationSystem.name}">
                        <h:outputText value="#{operationSystem.name} "/>
                    </p:column>

                    <p:column
                            headerText="DESCRIPTION"
                            style="text-align: left"
                            sortBy="#{operationSystem.description}">
                        <h:outputText value="#{operationSystem.description}"/>
                    </p:column>

                    <p:column
                            headerText="CAPACITY"
                            style="width: 110px;
                            text-align: center"
                            sortBy="#{operationSystem.systemCapacity}">
                        <h:outputText value="#{operationSystem.systemCapacity.label}"/>
                    </p:column>

                    <p:column style="padding: 0; text-align: center; width:50px">
                        <p:commandLink style="color: #333333; font-size: 1.5em" ajax="false"
                                       action="#{systemBean.viewInfoSystem(operationSystem)}" class="pi pi-eye"/>
                    </p:column>

                    <p:column style="padding: 0; text-align: center; width:50px">
                        <p:commandLink style="color: #333333; font-size: 1.5em" ajax="false"
                                       action="#{systemBean.viewJobsBySystem(operationSystem)}" class="pi pi-bars"/>
                    </p:column>

                    <p:column style="padding: 0; text-align: center; width:50px"
                              rendered="#{userBean.hasRole('ADMIN')}">
                        <p:commandLink style="color: #333333; font-size: 1.5em" ajax="false"
                                       action="#{systemBean.editSystem(operationSystem)}" class="pi pi-pencil"/>
                    </p:column>

                    <p:column style="padding: 0; text-align: center; width:50px"
                              rendered="#{userBean.hasRole('ADMIN')}">
                        <p:commandLink style="color: #333333; font-size: 1.5em"
                                       action="#{systemBean.deleteSystem(operationSystem)}" update="operationsystems"
                                       class="pi pi-trash">
                            <p:confirm header="Delete system"
                                       message="Delete system with name: #{operationSystem.name}?"
                                       icon="pi pi-exclamation-triangle"/>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </h:form>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-times"/>
            </p:confirmDialog>
        </ui:define>
    </ui:composition>
</h:body>
</html>