<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">System view - AT Center</ui:define>

        <ui:define name="content">
            <f:metadata>
                <f:viewAction action="#{systemBean.viewEditSystem}"/>
            </f:metadata>
            <h1>VIEW SYSTEM INFO</h1>
            <p:panel id="panel" header="GENERAL INFORMATION" styleClass="table-info">
                <h:form>
                    <h:panelGrid columns="2" cellpadding="5">
                        <p:outputLabel value="NAME"/>
                        <p:outputLabel value="#{systemBean.operationSystem.name}"/>

                        <p:outputLabel value="CAPACITY"/>
                        <p:outputLabel value="#{systemBean.operationSystem.systemCapacity.label}"/>

                        <p:outputLabel value="DESCRIPTION"/>
                        <p:outputLabel value="#{systemBean.operationSystem.description}"/>
                    </h:panelGrid>
                </h:form>
            </p:panel>

            <p:commandButton action="pretty:systemList" styleClass="buttons" value="BACK"/>

        </ui:define>
    </ui:composition>
</h:body>
</html>