<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">System edit - AT Center</ui:define>

        <ui:define name="content">
            <f:metadata>
                <f:viewAction action="#{systemBean.viewEditSystem()}" />
            </f:metadata>
            <h1>EDIT SYSTEM</h1>
            <p:panel id="panel"
                     header="GENERAL INFORMATION"
                     style="margin-bottom: 1%">
                <h:form style="margin-top: 10px">
                    <h:panelGrid columns="2" cellpadding="5">
                        <p:outputLabel for="name" value="SYSTEM NAME" style="font-weight: bold" />
                        <br/>
                        <p:inputText style="width: 300px" id="name" value="#{systemBean.operationSystem.name}">
                            <p:ajax update="msgName" event="keyup"/>
                        </p:inputText>
                        <p:message for="name" id="msgName"/>
                        <p:outputLabel for="capacity" value="SYSTEM CAPACITY" style="font-weight: bold" />
                        <br/>
                        <p:selectOneMenu style="width: 300px" id="capacity" value="#{systemBean.operationSystem.systemCapacity}" >
                            <f:selectItem itemLabel="x32" itemValue="CAPACITY_32" />
                            <f:selectItem itemLabel="x64" itemValue="CAPACITY_64" />
                            <p:ajax update="capacity"/>
                        </p:selectOneMenu>
                        <br/>
                        <p:outputLabel for="name" value="SYSTEM DESCRIPTION" style="font-weight: bold" />
                        <br/>
                        <p:inputText style="width: 300px" id="description" value="#{systemBean.operationSystem.description}">
                            <p:ajax update="description" event="keyup"/>
                        </p:inputText>
                    </h:panelGrid>
                </h:form>
            </p:panel>
            <h:form>
                <p:commandButton ajax="false" type="submit" value="SAVE" action="#{systemBean.saveSystem}"/>
                <p:commandButton ajax="false" type="submit" value="CANCEL" action="pretty:systemList"/>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>