<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">System view - AT Center</ui:define>

        <ui:define name="content">
            <f:metadata>
                <f:viewAction action="#{systemBean.prepareJobsBySystem()}" />
            </f:metadata>
            <h1>VIEW SYSTEM</h1>
            <h:form id="form">
                <p:dataTable var="jobInstance" value="#{systemBean.jobInstancesList}" rows="10"
                             paginator="true" id="jobInstances" paginatorPosition="bottom"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink}{PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="10,50,100" rowIndexVar="rowIndex" sortMode="multiple">
                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText style="text-align: left; font-size: 1.2em" value="JOB INSTANCE LIST"/>
                        </p:outputPanel>
                    </f:facet>

                    <p:column headerText="№" style="padding: 0; text-align:center; width:50px">
                        <h:outputText value="#{rowIndex + 1}"/>
                    </p:column>
                    <p:column headerText="SYSTEM" style="text-align: left"
                              sortBy="#{jobInstance.operationSystem.name} + #{jobInstance.operationSystem.systemCapacity.label}">
                        <h:outputText value="#{jobInstance.operationSystem.name} "/>
                        <h:outputText value="#{jobInstance.operationSystem.systemCapacity.label}"/>
                    </p:column>
                    <p:column headerText="JOB NAME" style="text-align: left"
                              sortBy="#{jobInstance.job.name}">
                        <h:outputText value="#{jobInstance.job.name}"/>
                    </p:column>
                    <p:column headerText="LOGIN" style="text-align: left" width="14%"
                              sortBy="#{jobInstance.user.login}">
                        <h:outputText value="#{jobInstance.user.login}"/>
                    </p:column>
                    <p:column headerText="START" style="padding: 0; text-align: center; width:120px"
                              sortBy="#{jobInstance.dateBegin}">
                        <h:outputText style="font-size: 0.8em"
                                      value="#{dateUtil.getOnlyDateFromDate(jobInstance.dateBegin)}"/>
                        <br/>
                        <h:outputText style="font-size: 0.8em"
                                      value="#{dateUtil.getOnlyTimeFromDate(jobInstance.dateBegin)}"/>
                    </p:column>
                    <p:column headerText="FINISH" style="padding: 0; text-align: center; width:120px"
                              sortBy="#{jobInstance.dateEnd}">
                        <h:outputText style="font-size: 0.8em"
                                      value="#{dateUtil.getOnlyDateFromDate(jobInstance.dateEnd)}"/>
                        <br/>
                        <h:outputText style="font-size: 0.8em"
                                      value="#{dateUtil.getOnlyTimeFromDate(jobInstance.dateEnd)}"/>
                    </p:column>
                    <p:column headerText="DURATION" style="padding: 0; text-align: center; width:120px"
                              sortBy="#{dateUtil.getDurationLikeTime(jobInstance.dateBegin, jobInstance.dateEnd)}">
                        <h:outputText
                                value="#{dateUtil.getDurationLikeTime(jobInstance.dateBegin, jobInstance.dateEnd)}"/>
                    </p:column>

                    <p:column style="padding: 0; text-align: center; width:50px">
                        <p:commandLink title="Info" style="color: #333333; font-size: 1.5em" ajax="false"
                                       action="#{jobInstanceBean.viewJobInstanceProfile(jobInstance, 'viewSystem')}" class="pi pi-eye"/>
                    </p:column>
                    <p:column style="padding: 0; text-align: center; width:50px">
                        <p:commandLink title="View" style="color: #333333; font-size: 1.5em" ajax="false"
                                       action="#{jobInstanceBean.viewJobInstance(jobInstance)}" class="pi pi-bars"/>
                    </p:column>
                    <p:column style="padding: 0; text-align: center; width:50px"
                              rendered="#{userBean.hasRole('ADMIN')}">
                        <p:commandLink title="Delete" style="color: #333333; font-size: 1.5em"
                                       action="#{jobInstanceBean.deleteJobInstance(jobInstance)}"
                                       class="pi pi-trash">
                            <p:confirm header="Delete jobInstance"
                                       message="Delete jobInstance?"
                                       icon="pi pi-exclamation-triangle"/>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </h:form>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-times"/>
            </p:confirmDialog>
        </ui:define>
    </ui:composition>
</h:body>
</html>