html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

header{
    flex: 0 0 auto;
}

h1{
    font-family: 'Open Sans', sans-serif;
    align-content: center;
    margin: 0 0 16px 0;
}

button{
    background-image: none;
    padding: 5px!important;
    border-color: #333333!important;
    background-color: #333333!important;
    width:100px;
}

.main-content{
    flex: 1 0 auto;
}

.footer{
    flex: 0 0 auto;
    height: 90px;
}

.header-table a:first-child{
    background: transparent;
    border: 1px white;
    font-size: 1.5em!important;
    color: white;
}

.header-table a:not(:first-child){
    background: transparent;
    font-size: 1.1em!important;
    color: white;
    border-bottom: 1px dashed white;
    margin-left: 50px;
    position: relative; bottom: 3px
}

.header-registry-buttons a{
    background: transparent;
    font-size: 1.2em!important;
    color: white!important;
    position: relative; top: 3px;
}

.header-registry-buttons a:last-child{
    margin-left: 20px;
}

.footer-table{
	border: #333333;
	padding: 1em 3em 0em;
}

.footer-table tr{
	border: #333333;
}

.footer-table tr:first-child td{
	padding-bottom: 15px;
}

.footer-table a{
	padding-left: 20px;
	padding-right: 20px;
    text-align: center;
    width: 120px;
    background: transparent!important;
    border: transparent;
    font-size: 0.9em!important;
    color: black!important;
}

.footer-table tr:last-child{
    text-align: center;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 75%!important;
}

.label-input-table div{
    margin-bottom: 10px;
}

.label-input-table label{
    font-weight: bold;
}

.label-input-table input{
    width: 300px;
}

.label-input-table .ui-selectmanycheckbox label{
	font-weight:normal;
}

.label-input-table .ui-selectmanycheckbox div{
	 margin-bottom: 0px;
}

button~button{
	margin-top: 10px!important;
    margin-left: 20px!important;
}

.warning{
    color: red
}

.white-button{
    background-color: white!important;
    color: black!important;
}

.generate-button{
    padding: 0px!important;
}

.ui-datatable.ui-widget~button{
	margin-top: 20px;
}

.table-search{
    width: 100%
}

.table-search button{
    margin-top:0px!important;
}

.table-search td:last-child{
	width: 10%;
}

.table-search td:nth-last-child(2){
	padding-right: 20px;
}

.table-info~button{
	margin-top:20px;
}

.table-info tr td:first-child{
	font-weight: bold;
}

.table-info tr td:nth-child(2){
	width:300px;
}

.table-info form{
	margin-top:10px;
}