<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">Job edit - AT Center</ui:define>

        <ui:define name="content">
            <f:metadata>
                <f:viewAction action="#{jobBean.viewEditJob()}"/>
            </f:metadata>
            <h1>EDIT JOB</h1>
            <p:panel id="panel" header="GENERAL INFORMATION" styleClass="label-input-table">
                <h:form>
                    <h:panelGrid columns="2" cellpadding="5">
                        <p:outputLabel for="name" value="NAME"/>
                        <br/>
                        <p:inputText id="name" value="#{jobBean.job.name}">
                            <p:ajax update="msgName" event="keyup"/>
                        </p:inputText>
                        <p:message for="name" id="msgName"/>
                        <p:outputLabel for="description" value="DESCRIPTION"/>
                        <br/>
                        <p:inputText id="description" value="#{jobBean.job.description}">
                            <p:ajax update="msgDescription" event="keyup"/>
                        </p:inputText>
                        <p:message for="description" id="msgDescription"/>
                    </h:panelGrid>
                </h:form>
            </p:panel>
            <h:form>
                <p:commandButton ajax="false" type="submit" value="SAVE" action="#{jobBean.saveJob()}"/>
                <p:commandButton ajax="false" type="submit" value="CANCEL" action="pretty:jobList"/>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>