<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
    <f:viewAction action="#{jobBean.viewEditJob()}" />
</f:metadata>
<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">Job profile - AT Center</ui:define>

        <ui:define name="content">
            <h1>VIEW JOB INFO</h1>
            <p:panel id="panel" header="JOB PROFILE" styleClass="table-info">
                <h:form>
                    <h:panelGrid columns="2" cellpadding="5">

                        <p:outputLabel value="NAME"/>
                        <p:outputLabel value="#{jobBean.job.name}"/>

                        <p:outputLabel value="BUILD NUMBER"/>
                        <p:outputLabel value="#{jobBean.job.buildNumber}"/>

                        <p:outputLabel value="DESCRIPTION"/>
                        <p:outputLabel value="#{jobBean.job.description}"/>

                    </h:panelGrid>
                </h:form>
            </p:panel>
            <p:commandButton action="pretty:jobList" styleClass="buttons" value="BACK"/>
        </ui:define>
    </ui:composition>
</h:body>
</html>