<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
    <f:viewAction action="#{jobInstanceBean.viewJobInstanceProfile}"/>
</f:metadata>

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">JobInstance profile - AT Center</ui:define>

        <ui:define name="content">
            <h:form>
                <p:panel id="panel" header="JOB INSTANCE PROFILE" styleClass="table-info">
                    <h:panelGrid columns="2" cellpadding="5">

                        <p:outputLabel for="jobName" value="JOB NAME"/>
                        <h:outputText id="jobName" value="#{jobInstanceBean.jobInstance.job.name}"/>

                        <p:outputLabel for="jobBuildNumber" value="BUILD NUMBER"/>
                        <h:outputText id="jobBuildNumber" value="#{jobInstanceBean.jobInstance.job.buildNumber}"/>

                        <p:outputLabel for="userLogin" value="USER LOGIN"/>
                        <h:outputText id="userLogin" value="#{jobInstanceBean.jobInstance.user.login}"/>

                        <p:outputLabel for="operationSystem" value="OPERATION SYSTEM"/>
                        <h:outputText id="operationSystem"
                                      value="#{jobInstanceBean.jobInstance.operationSystem.name} #{jobInstanceBean.jobInstance.operationSystem.systemCapacity.label}"/>

                        <p:outputLabel for="jobInstanceStatus" value="JOB INSTANCE STATUS"/>
                        <h:outputText id="jobInstanceStatus" value="#{jobInstanceBean.jobInstance.statusJob}"/>

                        <p:outputLabel for="dateBegin" value="START"/>
                        <h:outputText id="dateBegin" value="#{jobInstanceBean.jobInstance.dateBegin}"/>

                        <p:outputLabel for="dateEnd" value="FINISH"/>
                        <h:outputText id="dateEnd" value="#{jobInstanceBean.jobInstance.dateEnd}"/>

                    </h:panelGrid>
                </p:panel>
                <p:commandButton ajax="false" value="BACK" action="#{jobInstanceBean.returnPreviousPage()}"/>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>