<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<f:metadata>
    <f:event type="preRenderView" listener="#{jobBean.updateJobs()}"/>
</f:metadata>

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">Job list - AT Center</ui:define>
        <ui:define name="content">
            <h:form>
                <h1>JOB MANAGEMENT</h1>
                <p:panel header="SEARCH JOB">
                    <table class="table-search" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td class="ui-fluid">
                                <p:inputText placeholder="ENTER SEARCH STRING"
                                             value="#{jobBean.searchString}"
                                             required="false" requiredMessage="Enter search string"/>
                            </td>
                            <td nowrap="nowrap" align="right">
                                <p:commandButton styleClass="buttons" value="FIND" ajax="false"
                                                 action="#{jobBean.setJobList(jobBean.search())}"
                                                 update="jobs"/>
                                <p:commandButton styleClass="buttons" value="RESET" ajax="false"
                                                 action="#{jobBean.setJobList(jobBean.resetSearch())}"
                                                 update="jobs"/>
                            </td>
                        </tr>
                    </table>
                </p:panel>
            </h:form>

            <h:form id="form">
                <p:dataTable var="job"
                             value="#{jobBean.list}"
                             id="jobs"
                             rows="10"
                             paginator="true"
                             paginationPosition="bottom"
                             paginatorAlwaysVisible="false"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="10,50,100"
                             rowIndexVar="rowIndex"
                             widgetVar="jobs"
                             sortBy="#{job.name}">

                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText style="text-align: left; font-size: 1.2em" value="JOB LIST"/>
                        </p:outputPanel>
                    </f:facet>

                    <p:column headerText="№" style="padding: 0; text-align: center; width:50px">
                        <h:outputText value="#{rowIndex + 1}"/>
                    </p:column>

                    <p:column headerText="NAME"
                              style="width:300px; text-align: left"
                              sortBy="#{job.name}">
                        <h:outputText value="#{job.name}"/>
                    </p:column>

                    <p:column headerText="DESCRIPTION"
                              style="text-align: left"
                              sortBy="#{job.description}">
                        <h:outputText value="#{job.description}"/>
                    </p:column>

                    <p:column style="padding: 0; text-align: center; width:50px">
                        <p:commandLink style="color: #333333; font-size: 1.5em" ajax="false"
                                       action="#{jobBean.viewJobProfile(job)}" class="pi pi-eye"/>
                    </p:column>

                    <p:column style="padding: 0; text-align: center; width:50px">
                        <p:commandLink style="color: #333333; font-size: 1.5em" ajax="false"
                                       action="#{jobBean.viewJobsByJob(job)}" class="pi pi-bars"/>
                    </p:column>

                    <p:column style="padding: 0; text-align: center; width:50px"
                              rendered="#{userBean.hasRole('ADMIN')}">
                        <p:commandLink style="color: #333333; font-size: 1.5em" ajax="false"
                                       action="#{jobBean.editJob(job)}" class="pi pi-pencil"/>
                    </p:column>
                    <p:column style="padding: 0; text-align: center; width:50px"
                              rendered="#{userBean.hasRole('ADMIN')}">
                        <p:commandLink style="color: #333333; font-size: 1.5em" action="#{jobBean.deleteJob(job)}"
                                       update="jobs" class="pi pi-trash">
                            <p:confirm header="Delete job" message="Delete job: #{job.name}?"
                                       icon="pi pi-exclamation-triangle"/>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </h:form>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
            </p:confirmDialog>
        </ui:define>
    </ui:composition>
</h:body>
</html>
