<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:tr="http://java.sun.com/jsp/jstl/core">

<h:body>
    <ui:composition template="../../templates/main-template.xhtml">
        <ui:define name="title">Job list - AT Center</ui:define>

        <ui:define name="content">
            <h1>VIEW JOB INSTANCE</h1>
            <style>
                .tbl1 {
                    width: 100%;
                    border-collapse: collapse;
                }

                .col1, .col2, .col3 {
                    padding: 1%;
                }

                .col1 {
                    width: 15%;
                }

                .col2 {
                    width: 35%;
                }

                .col3 {
                    width: 45%;
                }
            </style>
            <p:panel id="job-instance-pnl" header="GENERAL INFO" style="margin-bottom: 1%; font-size: 1.2em">
                <table class="tbl1">
                    <tr>
                        <td class="col1">
                            <h:outputLabel value="JOB NAME:"/>
                        </td>
                        <td class="col2">
                            <h:outputText id="jobName" styleClass="full-width"
                                          value="#{jobInstanceBean.jobInstance.job.name}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="col1">
                            <h:outputLabel value="JOB INSTANCE ID:"/>
                        </td>
                        <td class="col2">
                            <h:outputText id="jobInstanceId" styleClass="full-width"
                                          value="#{jobInstanceBean.jobInstance.id}"/>
                        </td>
                        <td class="col1">
                        </td>
                        <td class="col2">
                        </td>
                    </tr>
                    <tr>
                        <td class="col1">
                            <h:outputLabel value="SYSTEM:"/>
                        </td>
                        <td class="col2">
                            <h:outputText id="systemName" styleClass="full-width"
                                          value="#{jobInstanceBean.jobInstance.operationSystem.name}"/>
                            <h:outputText id="space" styleClass="full-width" value=" "/>
                            <h:outputText id="systemCapacity" styleClass="full-width"
                                          value="#{jobInstanceBean.jobInstance.operationSystem.systemCapacity.label} "/>
                        </td>
                        <td class="col1">
                        </td>
                        <td class="col2">
                        </td>
                    </tr>
                    <tr>
                        <td class="col1">
                            <h:outputLabel value="DATE BEGIN:"/>
                        </td>
                        <td class="col2">
                            <h:outputText id="dateBegin" styleClass="full-width"
                                          value="#{dateUtil.getDateAndTimeFromDate(jobInstanceBean.jobInstance.dateBegin)}">
                            </h:outputText>
                        </td>
                        <td class="col1">
                        </td>
                        <td class="col2">
                        </td>
                    </tr>
                    <tr>
                        <td class="col1">
                            <h:outputLabel value="DATE END:"/>
                        </td>
                        <td class="col2">
                            <h:outputText id="dateEnd" styleClass="full-width"
                                          value="#{dateUtil.getDateAndTimeFromDate(jobInstanceBean.jobInstance.dateEnd)}">
                            </h:outputText>
                        </td>
                        <td class="col1">
                        </td>
                        <td class="col2">
                        </td>
                    </tr>
                </table>
            </p:panel>

            <p:panel id="metrik-pnl"
                     style="margin-bottom: 1%; font-size: 1.2em"
                     header="GRAPHICS OF JOB INSTANCE"
                     rendered="#{jobInstanceBean.metricExists()}">
                <table class="tbl1">
                    <tr>
                        <td class="col3">
                            <p:lineChart model="#{jobInstanceBean.modelForObjectAmountTimeSpentGraph}"/>
                        </td>
                        <td class="col3">
                            <p:lineChart model="#{jobInstanceBean.modelForAverageObjectValueTimeSpent}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="col3">
                            <p:lineChart model="#{jobInstanceBean.modelForObjectAmountLoadRAMGraph}"/>
                        </td>
                        <td class="col3">
                            <p:lineChart model="#{jobInstanceBean.modelForLoadRAMTimeSpentGraph}"/>
                        </td>
                    </tr>
                </table>
            </p:panel>

            <p:panel id="graphics-settings-pnl"
                     style="margin-bottom: 1%; font-size: 1.2em"
                     header="GRAPHICS SETTINGS">
                <h:form>
                    <h:panelGrid columns="2" cellpadding="7">
                        <p:outputLabel for="@next" value="NUMBER POINTS ON GRAPHICS:"/>
                        <p:selectOneMenu value="#{jobInstanceBean.baseNumberPoints}"
                                         valueChangeListener="#{jobInstanceBean.changePointsOnGraphic}">
                            <f:selectItems value="#{jobInstanceBean.numberPointsMap}" />
                            <p:ajax update="@this, metrik-pnl"/>
                        </p:selectOneMenu>
                    </h:panelGrid>
                </h:form>
                <h:form>
                    <h:panelGrid columns="2" cellpadding="7">
                        <p:outputLabel for="@next" value="LEFT BOUND OF DIAPASON TIME:"/>
                        <p:selectOneMenu value="#{jobInstanceBean.baseLeftBound}"
                                         valueChangeListener="#{jobInstanceBean.changePointsLeftValueOfRangeOnGraphic}">
                            <f:selectItems value="#{jobInstanceBean.numberMsBoundsMap}" />
                            <p:ajax update="@this, metrik-pnl"/>
                        </p:selectOneMenu>
                    </h:panelGrid>
                </h:form>
                <h:form>
                    <h:panelGrid columns="2" cellpadding="7">
                        <p:outputLabel for="@next" value="RIGHT BOUND OF DIAPASON TIME:"/>
                        <p:selectOneMenu value="#{jobInstanceBean.baseRightBound}"
                                         valueChangeListener="#{jobInstanceBean.changePointsRightValueOfRangeOnGraphic}">
                            <f:selectItems value="#{jobInstanceBean.numberMsBoundsMap}" />
                            <p:ajax update="@this, metrik-pnl"/>
                        </p:selectOneMenu>
                    </h:panelGrid>
                </h:form>
            </p:panel>

            <h:form id="form">
                <p:dataTable var="metrik" value="#{metrikBean.list(jobInstanceBean.jobInstance.id)}" rows="12"
                             paginator="true" id="metriks" paginationPosition="bottom"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="6,12,16" rowIndexVar="rowIndex">
                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText style="text-align: left; font-size: 1.2em" value="METRIK LIST"/>
                        </p:outputPanel>
                    </f:facet>

                    <p:column headerText="№" style="padding: 0; text-align: center; width:50px">
                        <h:outputText value="#{rowIndex + 1}"/>
                    </p:column>
                    <p:column headerText="NAME" style="width:300px; text-align: left">
                        <h:outputText value="#{metrik.name}"/>
                    </p:column>
                    <p:column headerText="TYPE" style="text-align: left">
                        <h:outputText value="#{metrik.type.label}"/>
                    </p:column>

                    <p:column style="padding: 0; text-align: center; width:50px">
                        <p:commandLink style="color: #333333; font-size: 1.5em" ajax="false"
                                       action="#{metrikBean.viewMetric(metrik)}" class="pi pi-eye"/>
                    </p:column>
                    <p:column style="padding: 0; text-align: center; width:50px"
                              rendered="#{userBean.hasRole('ADMIN')}">
                        <p:commandLink style="color: #333333; font-size: 1.5em"
                                       action="#{metrikBean.deleteMetric(metrik)}" update="metriks" class="pi pi-trash">
                            <p:confirm header="Delete metrik" message="Delete metrik with name: #{metrik.name}?"
                                       icon="pi pi-exclamation-triangle"/>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>